{% extends 'base.html' %}

{% block content %}
    <h2 class="photo_title">{% block title %} {{ photo['title'] }} {% endblock %}</h2>
    <a href="{{ url_for('edit', id=photo['id']) }}">
      <span class="p_edit">Edit</span>
    </a>
    <span class="badge badge-primary">{{ photo['created'] }}</span>
    <p class="photo_description">{{ photo['description'] }}</p>
    {% if photo.url is defined %}
    <div class="image">
      <img class="f_image" src="/{{ images_location }}{{  photo['url'] }}" alt="{{ photo['title'] }}"/>
    </div>
    <div class="photo_details">
      <span class="creation_date"><b>Creating date:</b> {{ photo['created'] }}</span>
    </div>
    {% endif %}
{% endblock %}