

img {
  border: 1px black solid;
  width: auto;
  margin: 2px;

}

.myimagecreate {
   margin: 20px 0px;
}
.myimagecreate.label {
 border: 2px black solid;
}

img.f_image {
  width: 100%;
  height: auto;
}
.creation_dat {
   font-weight: bolder;
   font-size: 1.5pt;
}

.p_edit {
  background-color: darkolivegreen;
  color: white;
  padding: 1px 4px;
 
  
}

.photo_title {
   font-family: 'JelleeBold';
   font-weight: normal;
   font-style: normal;
   color: #7591B4;
}

.photo_description {
  color: darkgoldenrod;
}


.form_noform {
    border: 0px;
    margin: 6px;
    background-color: whitesmoke;
}

label {
   font-weight: bold;
}
h1 {
    color: #1B294E;
    text-align: center;
    margin: 30px;
    font-family: 'JelleeBold';
}


h1.app_name {
    text-shadow: 5px 10px 10px darkgoldenrod;
    text-transform: capitalize;
    font-weight: bolder;
    font-style: normal;
    
}

h1.edit_photo_title {


}


div.index_image {
 right: 0;
 position: relative;
 display: inline-block;
 margin: 10px;
}

div.index_text {
  left: 0;
  top: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0px 50px;
  width: 50%;
  
}
.photo_details, .index_details {
   margin: 3px;

}

nav {
  border-bottom-style: groove;
  border-bottom-color: lightgreen;
  margin-bottom: 10px;
}

.navbar-brand {
  padding-left: 10px;
  font-family: 'JelleeBold';
}
.nav-rightside {
  right: 0%;
  position: absolute;
    padding-right: 10px;
}

.bottom-line {
  width: 100%;
  position: absolute;
  padding: 20px;
  margin-top: 10px;
  border-top-style: ridge;
  border-top-width: 1px;
  border-top-color: #EDFFE1;
  border-top-left-radius: 2;
  background-color: #FCFFFA;

}

input {
  padding: 5px;
}

.upload_image {
   padding: 20px;
}


.badge-primary {
  color: darkblue;

}
